<h3> <%= link_to User.find(comment.user_id).name, User.find(comment.user_id) %> said this about your deck, <%= link_to comment.deck.name, deck_path(comment.deck) %>: </h3>
<div><%= comment.content %></div> 