<h1>Welcome</h1>
<% if logged_in? %>
    <%= controller.redirect_to user_path(current_user) %>
<%else%>
<%= button_to "Login", '/login', method: :get%>
<%= link_to('Log in with Github!', '/auth/github') %>
<%= button_to "Sign Up", '/users/new', method: :get%>
<% end %>